nav {
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    margin: 0px 0px 100px 0px;
}

nav > ul {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
nav > ul > li {
    display: inline-block;
    background-color: #1f2020;
    padding: 10px 20px;
    margin: 0px;
}

nav > ul > li > a {
    text-decoration: none;
    margin: 0px;
    color: aliceblue;
    font-size: 28px;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:hover {
    background-color: #2e3030;
}

nav > ul > li:hover > a {
    text-decoration: underline;
    color: aliceblue;
    font-size: 28px;
}

nav > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #2e3030;
    margin-left: -20px;
    margin-top: 10px;
    padding: 0px;
    border: 1px solid aliceblue;
    min-width: 200px;
}

nav > ul > li:hover > ul > li {
    list-style-type: none;
    background-color: #2e3030;
    padding: 3px 10px;
    margin: 0px;
}

nav > ul > li:hover > ul > li:hover {
    background-color: #383b3b;
}

nav > ul > li:hover > ul > li > a {
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-size: 20px;
}