<div>
    {% assign maxinf = include.maxinf | default: false %}
    {% assign mininf = include.mininf | default: false %}
    {% assign log = include.log | default: false %}

    <label class="d-inline">{{ include.label }}</label><label id="_label-{{ include.id }}"></label>
    <input type="range" class="form-range" id="_range-{{ include.id }}">
    <script type="module">
        import { sliderRegister } from "/assets/js/components-helper.js";
        sliderRegister("{{ include.id }}", "{{ include.min }}", "{{ include.max }}", "{{ include.step }}", "{{ include.value }}", {{ mininf }}, {{ maxinf }}, {{ log }});
    </script>
</div>